
.app {
  margin: 0 auto;
  width: 80%;

}
.mainBlock {
  display: grid;
  grid-template-areas: 'movie favorities';
  grid-template-rows: 2fr 1fr;
}
.moviesArray {
  grid-area: movie;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.favoriteList {
  grid-area: favorities;
}
